input {
	tcp {
		port => 5001
		type => "csv"
	}
}
filter {
	if [type] == "csv" {
		csv {
			separator => ","
			skip_header => "true"
			columns => ["id", "timestamp", "paymentType", "name", "gender", "ip_address", "purpose", "country", "age"]
		}
	}
}
output {
	elasticsearch {
		hosts => "elasticsearch:9200"
		user => "elastic"
		password => "changeme"
		index => "demo-csv-from-logstash"
		ecs_compatibility => disabled
	}
}
